[submodule "etc/czertainly-ansible/roles/branding"]
	path = etc/czertainly-ansible/roles/branding
	url = https://github.com/3KeyCompany/ansible-role-czertainly-branding.git
	branch = develop
[submodule "etc/czertainly-ansible/roles/http-proxy"]
	path = etc/czertainly-ansible/roles/http-proxy
	url = https://github.com/3KeyCompany/ansible-role-http-proxy.git
	branch = develop
[submodule "etc/czertainly-ansible/roles/postgres"]
	path = etc/czertainly-ansible/roles/postgres
	url = https://github.com/3KeyCompany/ansible-role-postgres.git
	branch = develop
[submodule "etc/czertainly-ansible/roles/helm"]
	path = etc/czertainly-ansible/roles/helm
	url = https://github.com/3KeyCompany/ansible-role-helm.git
	branch = develop
[submodule "etc/czertainly-ansible/roles/czertainly"]
	path = etc/czertainly-ansible/roles/czertainly
	url = https://github.com/3KeyCompany/ansible-role-czertainly.git
	branch = develop
[submodule "etc/czertainly-ansible/roles/rke2"]
	path = etc/czertainly-ansible/roles/rke2
	url = https://github.com/semik/ansible-role-rke2.git
	branch = bash_profile
