---
on:
  push:
    branches: [main, develop]
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Checkout submodules
        run: git submodule update --init --recursive

      - name: Verify submodules
        run: |
          # This checks for unknown repository URL. It asumes that base_GIT_URL
          # is also fine even when not from official
          # https://github.com/3KeyCompany/ to be able test package in forks.
          #

          base_GIT_URL=`git config --get remote.origin.url | sed 's,\(.*\/\).*,\1,'`

          if git submodule foreach -q 'echo $(git config --get remote.origin.url)' |\
              grep -v "$base_GIT_URL" |\
              grep -v 'https://github.com/3KeyCompany/'
          then
              echo "
          Unknown submodule URL, see above. Please check and add it into
          exclude grep if is that desired."
              exit 1
          else
              echo "Only known submodule URL found. This is right."
          fi
